@model IEnumerable<OnlineShop.ViewsModel.ProductList>

@{
    ViewBag.Title = "Список продуктов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список продуктов</h1>
<a href="@Url.Action("List", "Shops")" class="btn btn-primary">К списку магазинов</a>

<div class="row mt-5">
    @if (Model != null && Model.Any())
    {
        foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Id</p>
                        <p><strong>Цена:</strong> @product.Price руб.</p>
                    </div>
                </div>
            </div>
        }
        <a href="@Url.Action("ProductList", "Shops")" class="btn btn-primary">В начало</a>

    }
    else
    {
        <p>Продукты не найдены.</p>
    }
</div>
